---
services:
  brico-db:
    image: postgres
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    environment:
      - POSTGRES_USER=brico
      - POSTGRES_PASSWORD=brico
      - POSTGRES_DB=brico
    volumes:
      - pgdata:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - 5432:5432

volumes:
  pgdata:
