---
services:
  cosqua-db:
    image: postgres
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    environment:
      - POSTGRES_USER=cosqua
      - POSTGRES_PASSWORD=cosqua
      - POSTGRES_DB=cosqua
    volumes:
      - ./pgdata:/var/lib/postgresql:delegated
    expose:
      - 5432
    ports:
      - 5432:5432

volumes:
  pgdata:
