@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.card {
  @apply bg-white rounded-lg shadow-md p-8;
}

button {
  @apply py-2 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border bg-primary text-white;
}

label {
  @apply block text-sm font-semibold mb-2 text-dark;
}

input {
  @apply py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-600 focus:ring-0;
}
