@import "./blocks.css";
@import "./buttons.css";
@import "./cards.css";
@import "./danger-zone.css";
@import "./dropdown.css";
@import "./footers.css";
@import "./forms.css";
@import "./headers.css";
@import "./kpi-bar.css";
@import "./links.css";
@import "./main.css";
@import "./markdown-zone.css";
@import "./page-headers.css";
@import "./tiles.css";
@import "./tooltip.css";
@import "./signup-login.css";

body {
  @apply font-sans bg-bg_content text-content;
}

p {
  @apply mb-2;
}
