@import "./buttons.css";
@import "./headers.css";
@import "./main.css";
@import "./footers.css";
@import "./cards.css";
@import "./typography.css";
@import "./links.css";
@import "./forms.css";
@import "./signup-login.css";
@import "./project-tiles.css";
@import "./dropdown.css";

body {
  @apply font-sans bg-bg_content text-content;
}
