/* BUTTONS */

button,
.btn {
  @apply inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border no-underline py-2 px-4;
}

.btn-primary {
  @apply bg-primary text-primary_text border-border hover:bg-primary_hover hover:text-primary_hover_text transition;
}

.btn-secondary {
  @apply bg-secondary text-secondary_text border border-border hover:bg-secondary_hover hover:text-secondary_hover_text transition;
}

.btn-danger {
  @apply bg-danger text-danger_text border-border hover:bg-danger_hover hover:text-danger_hover_text transition;
}
