/* DROPDOWN */

.dropdown-menu-wrapper {
  @apply relative py-1;
}

.dropdown-menu {
  @apply absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black z-50 py-1;
}

.dropdown-menu hr {
  @apply border-gray-200;
}

.dropdown-item {
  @apply block px-4 py-2 text-sm;
}

.dropdown-item.active {
  @apply font-semibold;
}

.dropdown-item-checkmark {
  @apply ml-2;
}

.dropdown-item-create {
  @apply block px-4 py-2 text-sm text-primary;
}
