/* HEADERS */
header {
  @apply w-full bg-bg_layout shadow px-8;
}

header nav {
  @apply flex h-16 items-center justify-between;
}

header .header-title {
  @apply text-2xl font-bold;
}

header .header-title-link {
  @apply flex items-center gap-2;
}

header .header-subtitle {
  @apply text-sm italic;
}
