/* KPI BAR */

.kpi-bar {
  @apply w-full bg-gray-200 rounded-full h-4 flex overflow-hidden;
}

.kpi-bar-item {
  @apply h-full;
}

.kpi-legend-dot {
  @apply inline-block w-3 h-3 rounded-full;
}

.kpi-legend-text {
  @apply inline-block ml-2;
}

.kpi-legend-line {
  @apply inline-block mb-1;
}
