/* TOOLTIPS */

.tooltip-group {
  @apply relative cursor-help;
}

.tooltip-block {
  @apply absolute left-1/2 -translate-x-1/2 bottom-full mb-2 w-54 p-2 bg-white text-xs rounded-lg opacity-0 invisible transition-opacity duration-200 z-10 shadow-lg border border-gray-200 group-hover:opacity-100 group-hover:visible;
}

.tooltip-block-bottom {
  @apply absolute left-1/3 -translate-x-1/3 top-full w-0 h-0 border-l-4 border-r-4 border-t-4 border-transparent border-t-white;
}
