{% extends 'layout/base-logged.html' %}
{% load i18n tiles_tags %}

{% block title %}{% translate "My Projects - Cosqua" %}{% endblock %}

{% block content %}
    <h1>{% translate "My Projects" %}</h1>

    {% include "components/search.html" with form=search_form action_url=request.path %}

    {% translate "No projects yet." as empty_msg %}
    {% translate "➕ Add a new project" as add_lbl %}
    {% translate "Create a new project to start auditing your resources." as add_desc %}
    {% url 'audits:project_form' as add_href %}
    {% tiles object_list "audits/project/_partials/tile.html" empty_message=empty_msg add_url=add_href add_label=add_lbl add_description=add_desc %}

{% endblock content %}
