{% extends 'layout/base-logged.html' %}
{% load i18n %}

{% block title %}{% translate "Audit Detail - Cosqua" %}{% endblock %}

{% block content %}
<div>
    <h1>{% translate "Audit:" %} {{ audit.audit_library.name }}</h1>
    <p>{{ audit.audit_library.description }}</p>
    <h2>{% translate "Criteria" %}</h2>
    <div class="tiles">
        {% for criterion in audit_criteria %}
            <a href="{% url 'audits:projectauditcriterion_detail' project.slug audit.id criterion.id %}" class="tile {% cycle 'tile-even' 'tile-odd' %}">
                <h2>{{ criterion }}</h2>
                {% if criterion.criterion.description %}
                    <p>{{ criterion.criterion.description|truncatewords:10 }}</p>
                {% endif %}
                <p class="text-sm font-semibold mt-2">{{ criterion.get_status_display }}</p>
            </a>
        {% empty %}
            <div class="tile tile-empty">
                <p>{% translate "No criteria yet." %}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
