{% load i18n %}

<turbo-frame id="comments_frame">
    <div class="mt-6">
        <div class="flex justify-between items-center mb-4">
            <h2>{% translate "Comments" %}</h2>
            <a href="{% url 'audits:comment_create' project.slug audit.id criterion.id %}"
               class="btn btn-primary"
               data-turbo-frame="comment_form_frame">
                {% translate "Add Comment" %}
            </a>
        </div>

        <turbo-frame id="comment_form_frame">
        </turbo-frame>

        {% for comment in comments %}
            {% include "audits/comment/item.html" with comment=comment project=project audit=audit criterion=criterion %}
        {% empty %}
            <p class="block block-info">{% translate "No comments yet." %}</p>
        {% endfor %}
    </div>
</turbo-frame>
