{% extends "layout/center_base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Password Reset" %}
{% endblock title %}

{% block content %}
    <h2>
        {% translate "Password Reset" %}
    </h2>

    {% include "components/messages.html" %}

    {% if user.is_authenticated %}
        <p>{% translate "You are already logged in." %}</p>
    {% endif %}
    <p>{% blocktranslate %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktranslate %}</p>
{% endblock content %}
