{% load i18n static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Brico{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body class="w-full flex flex-col items-center bg-info/5">
        {% block headers %}
            <header class="w-full">
                <nav class="flex justify-end">
                    {% if user.is_authenticated %}
                        <p>{% translate "Hello" %} {{ user.username }}</p>
                        <a href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                    {% else %}
                        <a href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                        <a href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                    {% endif %}
                </nav>
            </header>
        {% endblock headers %}
        {% block main %}
            <main>
                <h1>{% translate "Brico" %}</h1>
                {% block content %}{% endblock %}
            </main>
        {% endblock main %}

        {% block footers %}
            <footer>
                <a href="">{% translate "Legal Mentions" %}</a>
            </footer>
        {% endblock footers %}
    </body>
</html>
