{% extends "layout/center_base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Signup - Cosqua" %}
{% endblock title %}

{% block content %}
    <h2>
        {% blocktranslate with provider_name=account.get_provider.name site_name=site.name %}Sign up with {{ provider_name }}{% endblocktranslate %}
    </h2>

    {% include "components/messages.html" %}

    <form method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}

        <div>
            {{ form.as_p }}
        </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button type="submit">
            {% translate "Continue" %}
        </button>
    </form>

    <a href="{% url 'account_login' %}">{% translate "Back to login" %}</a>
{% endblock content %}
