{% extends 'layout/base-logged.html' %}
{% load i18n %}

{% block title %}{% translate "Project Detail - Brico" %}{% endblock %}

{% block content %}
<div>
    <h1>{% translate "Project Detail" %}</h1>
    <p>{{ project.name }}</p>
    <p>{{ project.description }}</p>
    <h2>{% translate "Resources" %}</h2>
    <ul>
        {% for resource in project.resources.all %}
            <li>{{ resource.name }}</li>
        {% empty %}
            <li>{% translate "No resources yet." %}</li>
        {% endfor %}
    </ul>
    <h2>{% translate "Audits" %}</h2>
    <ul>
        {% for audit in project.audits.all %}
            <li>{{ audit.audit_library.name }} →
                <a href="{% url 'audits:audit_detail' project.slug audit.id %}">edit</a>
                <a href="{% url 'audits:audit_delete' project.slug audit.id %}">delete</a>
            </li>
        {% empty %}
            <li>{% translate "No audits yet." %}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'audits:new_audit' project.slug %}">{% translate "Start Audit" %}</a>
</div>
{% endblock content %}
